<!-- footer is starting here  -->

<footer id="footer" class="d-flex justify-content-center align-items-center flex-column mt-auto " style=" padding: 17px 0px;   background-color: #151515!important;">

  <h3>CopyRight© reserved 2021</h3>
<h6>Created by: Mohammad Awais</h6>

</footer>

<!-- footer is ending here  -->